<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../../../assets/images/logos/logo_inc_green_text.png" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form class="form-class">
      <br/>
      <p class="text-center">Merci de saisir votre adresse email associée à votre compte.</p>
      <div class="formGroup">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="E-mail" autofocus #passwordResetEmail required>
        <input type="button" class="fadeIn fourth" value="Réinitialiser" (click)="authService.forgotPassWord(passwordResetEmail.value)">
      </div>
    </form>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <span>Retour à la <a class="redirect" routerLink="/user/login">Connexion</a></span>
    </div>

  </div>
</div>
