.navbar {
  min-height: 50px;
  height: 50px;
  border: none;
  box-shadow: 0px -1px 7px 0 var(--inc-gray-300);
  .nav-item.dropdown {
    .dropdown-menu {
      min-width: 279px;
      img {
        margin: 5px;
        margin-right: 12px;
      }
      .log-out-item {
        margin-bottom: 17px;
      }
      a {
        cursor: pointer;
      }
    }
    .dropdown-profile {
      a {
        justify-content: unset;
      }
    }
  }
  .dx-icon {
    position: absolute;
    top: 5px;
    left: -31px;
    font-size: 20px;
    display: none;
    cursor: pointer;
  }
  .search-box {
    margin-left: 20px;
    form {
      input {
        height: 30px;
        min-height: 30px;
      }
      img {
        position: absolute;
        top: 7px;
        left: 13px;
      }
    }
  }
}
