<nav class="navbar navbar-top navbar-expand" id="navbarDefault">
  <div class="collapse navbar-collapse justify-content-between">
    <div class="search-box navbar-top-search-box d-none d-lg-block" data-list="{&quot;valueNames&quot;:[&quot;title&quot;]}" style="width:25rem;">
      <span class="dx-icon dx-icon-chevrondoubleright" id="chevrondoubleright" (click)="onClipse()"></span>
      <form class="position-relative" data-bs-toggle="search" data-bs-display="static" aria-expanded="false">
        <input class="form-control search-input fuzzy-search form-control-sm" type="search" placeholder="Search..." aria-label="Search">
        <img src="assets/images/header/search.svg"/>
      </form>
      <div class="btn-close position-absolute end-0 top-50 translate-middle cursor-pointer shadow-none" data-bs-dismiss="search">
        <button class="btn btn-link btn-close-falcon p-0" aria-label="Close"></button>
      </div>
      <div class="dropdown-menu border border-300 font-base start-0 py-0 overflow-hidden w-100">
        <div class="scrollbar-overlay" style="max-height: 30rem;" data-simplebar="init">
          <div class="simplebar-wrapper" style="margin: 0;">
            <div class="simplebar-height-auto-observer-wrapper">
              <div class="simplebar-height-auto-observer"></div>
            </div>
            <div class="simplebar-mask">
              <div class="simplebar-offset" style="right: 0; bottom: 0;">
                <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: hidden;">
                  <div class="simplebar-content" style="padding: 0;">
                    <div class="list pb-3">
                      <h6 class="dropdown-header text-1000 fs--2 py-2">24 <span class="text-500">results</span></h6>
                      <hr class="text-200 my-0">
                      <h6 class="dropdown-header text-1000 fs--1 border-bottom border-200 py-2 lh-sm">Recently Searched </h6>
                      <div class="py-2">
                        <a class="dropdown-item" href="#">
                          <div class="d-flex align-items-center">
                            <div class="fw-normal text-1000 title">
                              <svg class="svg-inline--fa fa-clock-rotate-left" data-fa-transform="shrink-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="clock-rotate-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="" style="transform-origin: 0.5em 0.5em;">
                                <g transform="translate(256 256)">
                                  <g transform="translate(0, 0)  scale(0.875, 0.875)  rotate(0 0 0)">
                                    <path fill="currentColor" d="M256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C201.7 512 151.2 495 109.7 466.1C95.2 455.1 91.64 436 101.8 421.5C111.9 407 131.8 403.5 146.3 413.6C177.4 435.3 215.2 448 256 448C362 448 448 362 448 256C448 149.1 362 64 256 64C202.1 64 155 85.46 120.2 120.2L151 151C166.1 166.1 155.4 192 134.1 192H24C10.75 192 0 181.3 0 168V57.94C0 36.56 25.85 25.85 40.97 40.97L74.98 74.98C121.3 28.69 185.3 0 255.1 0L256 0zM256 128C269.3 128 280 138.7 280 152V246.1L344.1 311C354.3 320.4 354.3 335.6 344.1 344.1C335.6 354.3 320.4 354.3 311 344.1L239 272.1C234.5 268.5 232 262.4 232 256V152C232 138.7 242.7 128 256 128V128z" transform="translate(-256 -256)"></path>
                                  </g>
                                </g>
                              </svg><!-- <span class="fa-solid fa-clock-rotate-left" data-fa-transform="shrink-2"></span> Font Awesome fontawesome.com --> Store Macbook</div>
                          </div>
                        </a>
                        <a class="dropdown-item" href="#">
                          <div class="d-flex align-items-center">
                            <div class="fw-normal text-1000 title"> <svg class="svg-inline--fa fa-clock-rotate-left" data-fa-transform="shrink-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="clock-rotate-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="" style="transform-origin: 0.5em 0.5em;"><g transform="translate(256 256)"><g transform="translate(0, 0)  scale(0.875, 0.875)  rotate(0 0 0)"><path fill="currentColor" d="M256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C201.7 512 151.2 495 109.7 466.1C95.2 455.1 91.64 436 101.8 421.5C111.9 407 131.8 403.5 146.3 413.6C177.4 435.3 215.2 448 256 448C362 448 448 362 448 256C448 149.1 362 64 256 64C202.1 64 155 85.46 120.2 120.2L151 151C166.1 166.1 155.4 192 134.1 192H24C10.75 192 0 181.3 0 168V57.94C0 36.56 25.85 25.85 40.97 40.97L74.98 74.98C121.3 28.69 185.3 0 255.1 0L256 0zM256 128C269.3 128 280 138.7 280 152V246.1L344.1 311C354.3 320.4 354.3 335.6 344.1 344.1C335.6 354.3 320.4 354.3 311 344.1L239 272.1C234.5 268.5 232 262.4 232 256V152C232 138.7 242.7 128 256 128V128z" transform="translate(-256 -256)"></path></g></g></svg><!-- <span class="fa-solid fa-clock-rotate-left" data-fa-transform="shrink-2"></span> Font Awesome fontawesome.com --> MacBook Air - 13″</div>
                          </div>
                        </a>
                      </div>
                      <hr class="text-200 my-0">
                      <h6 class="dropdown-header text-1000 fs--1 border-bottom border-200 py-2 lh-sm">Products</h6>
                      <div class="py-2">
                        <a class="dropdown-item py-2 d-flex align-items-center" href="#">
                          <div class="file-thumbnail me-2">
                            <img class="h-100 w-100 fit-cover rounded-3" src="#" alt="">
                          </div>
                          <div class="flex-1">
                            <h6 class="mb-0 text-1000 title">MacBook Air - 13″</h6>
                              <p class="fs--2 mb-0 d-flex text-700"><span class="fw-medium text-600">8GB Memory - 1.6GHz - 128GB Storage</span></p>
                          </div>
                        </a>
                        <a class="dropdown-item py-2 d-flex align-items-center" href="#">
                          <div class="file-thumbnail me-2"><img class="img-fluid" src="#" alt=""></div>
                          <div class="flex-1">
                            <h6 class="mb-0 text-1000 title">MacBook Pro - 13″</h6>
                              <p class="fs--2 mb-0 d-flex text-700"><span class="fw-medium text-600 ms-2">30 Sep at 12:30 PM</span></p>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="simplebar-placeholder" style="width: 0; height: 0;"></div>
          </div>
          <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
            <div class="simplebar-scrollbar" style="width: 0; display: none;"></div>
          </div>
          <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
            <div class="simplebar-scrollbar" style="height: 0; display: none;"></div>
          </div>
        </div>
      </div>
    </div>
    <ul class="navbar-nav navbar-nav-icons flex-row">
      <!--
      <li class="nav-item dropdown" *ngIf="subscribe">
        <a class="nav-link" href="#" data-toggle="collapse" role="button" data-target="#dropdown-menu-notify" aria-haspopup="true" aria-expanded="false" data-bs-auto-close="outside">
          <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell" style="height:20px;width:20px;">
            <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
            <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
          </svg>
        </a>
        <div id="dropdown-menu-notify" class="dropdown-menu collapse dropdown-menu-end notification-dropdown-menu py-0 shadow border border-300 navbar-dropdown-caret" aria-labelledby="navbarDropdownNotfication">
          <div class="card position-relative border-0">
            <div class="card-header p-2">
              <div class="d-flex justify-content-between">
                <h5 class="text-black mb-0">Notificatons</h5><button class="btn btn-link p-0 fs--1 fw-normal" type="button" (click)="onReadAll()">Tous marquées comme lues</button>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="scrollbar-overlay" data-simplebar="init">
                <div class="simplebar-wrapper">
                  <div class="simplebar-height-auto-observer-wrapper">
                    <div class="simplebar-height-auto-observer"></div>
                  </div>
                  <div class="simplebar-mask">
                    <div class="simplebar-offset">
                      <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content">
                        <div class="simplebar-content">
                          <div class="border-300">
                            <div *ngFor="let notification of actives" class="px-2 px-sm-3 py-3 border-300 notification-card position-relative read border-bottom" [ngClass]="{read: notification.status==false, unread: notification.status==true}" (click)="updateNotification(notification)">
                              <div class="d-flex align-items-center justify-content-between position-relative">
                                <div class="d-flex">
                                  <div class="avatar avatar-m status-online me-3">
                                    <img *ngIf="notification.author.picto" class="rounded-circle" src="{{ notification.author.picto }}" alt="">
                                    <div *ngIf="!notification.author.picto" class="avatar-name rounded-circle"><span>{{ notification.author.name[0] }}</span></div>
                                  </div>
                                  <div class="flex-1 me-sm-3">
                                    <h4 class="fs--1 text-black">{{ notification.author.firstName }} {{ notification.author.name }}</h4>
                                    <p class="fs--1 text-1000 mb-2 mb-sm-3 fw-normal">
                                      <span *ngIf="!notification.pictogram" class="me-1 fs--2">💬</span>
                                      <span *ngIf="notification.pictogram" class="me-1 fs--2">{{ notification.pictogram }}</span>
                                      {{ notification.message | short:20 }}
                                      <span class="ms-2 text-400 fw-bold fs--2">{{ notification.created | delay }}</span>
                                    </p>
                                    <p class="text-800 fs--1 mb-0">
                                      <svg class="svg-inline--fa fa-clock me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="clock" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                        <path fill="currentColor" d="M256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512zM232 256C232 264 236 271.5 242.7 275.1L338.7 339.1C349.7 347.3 364.6 344.3 371.1 333.3C379.3 322.3 376.3 307.4 365.3 300L280 243.2V120C280 106.7 269.3 96 255.1 96C242.7 96 231.1 106.7 231.1 120L232 256z"></path>
                                      </svg>
                                      <span class="fw-bold">{{ notification.created | todate | date: "H:m": 'Europe/Paris' }}</span>, {{ notification.created | todate | datestring }}
                                    </p>
                                  </div>
                                </div>
                                <div class="font-sans-serif d-none d-sm-block">
                                  <button class="nav-link btn fs--2 btn-sm">
                                    <i *ngIf="!notification.status" class="fa fa-fw fa-check"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="simplebar-placeholder"></div>
                </div>
                <div class="simplebar-track simplebar-horizontal">
                  <div class="simplebar-scrollbar"></div>
                </div>
                <div class="simplebar-track simplebar-vertical">
                  <div class="simplebar-scrollbar"></div>
                </div>
              </div>
            </div>
            <div class="card-footer p-0 border-top border-0">
              <div class="my-2 text-center fw-bold fs--2 text-600">
                <a class="fw-bolder" href="#">Notification history</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      -->
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" role="button" data-toggle="collapse" data-target="#dropdown-menu-caret" aria-expanded="false">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="2" cy="2" r="2" fill="currentColor"></circle>
            <circle cx="2" cy="8" r="2" fill="currentColor"></circle>
            <circle cx="2" cy="14" r="2" fill="currentColor"></circle>
            <circle cx="8" cy="8" r="2" fill="currentColor"></circle>
            <circle cx="8" cy="14" r="2" fill="currentColor"></circle>
            <circle cx="14" cy="8" r="2" fill="currentColor"></circle>
            <circle cx="14" cy="14" r="2" fill="currentColor"></circle>
            <circle cx="8" cy="2" r="2" fill="currentColor"></circle>
            <circle cx="14" cy="2" r="2" fill="currentColor"></circle>
          </svg>
        </a>
        <div id="dropdown-menu-caret" class="dropdown-menu dropdown-menu-end navbar-dropdown-caret">
          <div class="card bg-white position-relative border-0">
            <div class="card-body pt-3 px-3 pb-0 overflow-auto scrollbar" style="height: 20rem;">
              <div class="row text-center align-items-center gx-0 gy-0">
                <div class="col-4" *ngFor="let shutter of shutterService.getShuttersWidhExcludes(['default'])">
                  <a class="d-block hover-bg-200 p-2 rounded-3 text-center text-decoration-none mb-3" (click)="onShutterClick(shutter)">
                    <img src="{{ shutter.icone }}" alt="{{ shutter.label }}" width="30">
                    <p class="mb-0 text-black text-truncate fs--2 mt-1 pt-1">{{ shutter.label }}</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link lh-1 pe-0" href="#!" role="button" data-toggle="collapse" data-target="#dropdown-profile" aria-haspopup="true" ata-bs-auto-close="outside" aria-expanded="false">
          <div class="avatar avatar-l ">
              <img *ngIf="currentUser" class="rounded-circle" src="{{ currentUser.photoURL }}" alt=""/>
          </div>
        </a>
        <div id="dropdown-profile" (click)="closePanel($event)" class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border border-300" aria-labelledby="navbarDropdownUser">
          <div class="card position-relative border-0">
            <div class="card-body p-0">
              <div class="text-center pt-4 pb-3">
                <div class="avatar avatar-xl ">
                  <img *ngIf="currentUser" class="rounded-circle" src="{{ currentUser.photoURL }}" alt="">
                </div>
                <h5 *ngIf="currentUser" class="mt-2 text-black">{{ currentUser.firstName }}</h5>
              </div>
            </div>
            <div class="overflow-auto scrollbar">
              <ul class="nav d-flex flex-column mb-2 pb-1">
                <li class="nav-item"><a class="nav-link px-3" [routerLink]="['', {outlets:{dashboard:['users','detail', currentUser?.uid]}}]"><img src="assets/images/header/profil.svg" /><span class="text-black">Mon compte</span></a></li>
              </ul>
            </div>
            <div class="card-footer p-0 border-top">
              <ul *ngIf="currentUser?.role=='ADMIN_ROLE'" class="nav d-flex flex-column my-3">
                <li class="nav-item"><a class="nav-link px-3" [routerLink]="['', {outlets:{dashboard:['user','sign-up']}}]"><img src="assets/images/header/userplus.svg"/><span class="text-black">Créer un compte</span></a></li>
              </ul>
              <hr  *ngIf="currentUser?.role=='ADMIN_ROLE'">
              <ul class="nav d-flex flex-column my-3">
                <li class="nav-item">
                  <a class="btn btn-phoenix-secondary d-flex flex-center w-100" (click)="authService.signOut()"><img src="assets/images/header/sign_out.svg" /><span class="text-black">Déconnexion</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
