::ng-deep .long-title h3 {
  text-align: center;
  margin-bottom: 20px;
}
::ng-deep .class-form {
  float: left;
  border: solid 1px #dddddd;
  background-color: #ffffff;
  padding: 31px;
  width: 60%;
  margin-bottom: 0.8em;
  box-shadow: 0 2px 8px rgb(0 1 1 / 5%);
}
::ng-deep .options-form .dx-item {
  padding: 0 !important;
}
::ng-deep .options {
  padding: 20px;
  margin-top: 20px;
  background-color: rgba(191, 191, 191, 0.15);
}
::ng-deep .caption {
  font-size: 18px;
  font-weight: 500;
}
::ng-deep .option {
  width: 24%;
  display: inline-block;
  margin-top: 10px;
}
