<div class="users-list">
  <nav class="navbar navbar-light">
    <form [formGroup]="searchForm" (submit)="onSearch($event)" class="form-inline">
      <input formControlName="searchField" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button type="submit"><span class="fa fa-search"></span></button>
    </form>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-all-members" role="tabpanel" aria-labelledby="nav-all-members">
      <table class="table table-hover members-table middle-align">
        <thead>
          <th></th>
          <th>Nom et rôle</th>
          <th>Email</th>
          <th>Mobile</th>
          <th *ngIf="active_role == 'STUDENT_ROLE'">CNE</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let u of list | paginate: { itemsPerPage: tableSize, currentPage: page, totalItems: count }; let i = index"> <!---->
            <td class="form-profile">
              <img src="{{ u.photoURL }}" alt="{{ u.name }}" class="rounded-circle picture" *ngIf="u?.photoURL">
              <img src="/assets/images/user-2.png" alt="{{ u.name }}" class="rounded-circle picture" *ngIf="!u.photoURL">
            </td>
            <!--<td>{{ u.uid }}</td>-->
            <td class="div-block-td">
              <div class="div-block">
                {{ u.firstName + ' ' + u.name }}<br/>
                <span>{{ u.role }}</span>
              </div>
            </td>
            <td>{{ u.email }}</td>
            <td>{{ u.phoneNumber }}</td>
            <td *ngIf="active_role == 'STUDENT_ROLE'">{{ u.cne }}</td>
            <td class="options-class">
              <a class="delete" (click)="onUserDelete(u.uid)" title="Supprimer la fiche utilisateur"><img src="/assets/images/op/delete.svg"/>Supprimer</a>
              <a class="edit" [routerLink]="['', {outlets:{dashboard:['users','detail', u.uid]}}]" title="Modifier la fiche utilisateur"><img src="/assets/images/op/edit.svg"/>Editer</a>
              <a class="deal-details" title="Relevés de notes" [routerLink]="['', {outlets:{dashboard:['shutters','rn', 'list', u.uid]}}]" *ngIf="u.role=='STUDENT_ROLE' && shutter=='examens'"><img src="/assets/images/op/editdoc.svg"/>Relevés</a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <nav aria-label="Page navigation example" class="pagination">
            <pagination-controls
              [responsive]="true"
              previousLabel=""
              nextLabel=""
              (pageChange)="onTableDataChange($event)"></pagination-controls>
          </nav>
        </tfoot>
      </table>
    </div>
  </div>
</div>
