.users-list {
  .form-profile {
    img {
      margin-left: 8px;
      width: 30px;
      height: 30px;
      border: none;
    }
  }
  td {
    vertical-align: middle !important;
  }
  .div-block-td {
    font-family: "system-ui";
    font-weight: 100;
    color: #212F3D;
    vertical-align: middle;
    border: none !important;
    .div-block {
      font-family: "system-ui";
      font-weight: 100;
    }
    a {
      position: relative;
      padding: 7px 11px 7px 25px;
      margin: 5px;
      border-radius: 4px;
      height: 30px;
      &:hover {
        text-decoration: none;
      }
      img {
        position: absolute;
        left: 5px;
      }
    }
    .delete {
      background-color: var(--inc-warning-soft);
      color: var(--inc-warning);
    }
    .edit {
      background-color: #EAF9FA;
      color: #17A589;
    }
    .deal-details {
      background-color: var(--inc-info-600);
      color: var(--inc-white);
    }
  }
}
/*
 * Responsive party < 500px
 */
@media screen and (max-width: 1024px) {
  .users-list {
    .div-block-td {
      a {
        padding: 3px 3px 6px;
        margin: 2px;
        img {
          position: relative;
          margin: auto;
          left: unset;
        }

        span {
          display: none;
        }
        &.delete {
          border: solid .5px var(--inc-warning);
        }
        &.edit {
          border: solid .5px #17A589;
        }
        &.deal-details {
          border: solid .5px var(--inc-white);
        }
      }
    }
  }
}
