<div class="rn-block">
  <h4>Fiches d'examens [<strong>{{ student?.name | uppercase }} {{ student?.firstName }}</strong>]</h4><hr/>
  <div class="row dx-form">
    <div class="col-sm-6">
      Edition des fiches
      <hr/>
      <dx-data-grid
        [dataSource]="rns"
        id="grid-container-row-rns"
        keyExpr="id"
        [hoverStateEnabled]="true"
        [focusedRowEnabled]="true"
        [(focusedRowKey)]="focusedRowKey"
        [showBorders]="true" [ngClass]="'dx-template-container'"
        (onFocusedRowChanged)="onSelectionChangeed($event)"
        (onRowInserted)="onRowInserted($event)"
        (onRowUpdated)="onRowUpdated($event)"
        (onRowRemoved)="onRowRemoved($event)"
        (onToolbarPreparing)="alterDataGriOperation($event)">
        <dxo-pager
          [visible]="true"
          [showInfo]="true"
          [showPageSizeSelector]="true"
          [showNavigationButtons]="true"
          [allowedPageSizes]="[7, 10, 15, 20]"
        >
        </dxo-pager>
        <dxo-paging [enabled]="true" [pageSize]="7"></dxo-paging>
        <dxo-editing
          mode="cell"
          [allowUpdating]="true"
          [allowAdding]="true"
          [useIcons]="true"
          [allowDeleting]="true">
        </dxo-editing>
        <dxo-selection mode="single"></dxo-selection>
        <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
        <dxo-column-chooser [enabled]="true" mode="select" [allowSearch]="true" [height]="400" [width]="350"></dxo-column-chooser>
        <dxi-column caption="*" [width]="30" cellTemplate="selcol">
          <div *dxTemplate="let val of 'selcol'">
            <span class="dx-icon dx-icon-tags"></span>
          </div>
        </dxi-column>
        <dxi-column dataField="type" caption="Type" [width]="100"></dxi-column>
        <dxi-column dataField="session" caption="Session" [width]="80">
          <dxi-validation-rule type="numeric"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="serial" cellTemplate="" [width]="100" [allowFiltering]="false" caption="Série">
          <dxo-lookup [dataSource]="serials" valueExpr="id" displayExpr="label"></dxo-lookup>
          <dxi-validation-rule type="required" message="Le série est obligatoire"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="center" caption="Centre" width="90" [allowFiltering]="false"></dxi-column>
        <dxi-column dataField="scenter" caption="S/Centre" width="90" [allowFiltering]="false"></dxi-column>
        <dxi-column dataField="n_table" caption="N° Table" width="60" [allowFiltering]="false"></dxi-column>
        <dxi-column dataField="deliberation_date" caption="Date délib." [allowFiltering]="false" dataType="date" format="dd/MM/yyyy">
        </dxi-column>
      </dx-data-grid>
      Edition relevés des notes [{{ rn?.type }}]
      <hr/>
      <app-note [rn]="rn" [shutter]="shutter" [student]="student"></app-note>
    </div>
    <div class="col-sm-6">
      <div id="pdf-view" class="pdf-view"></div>
    </div>
  </div>
</div>
