<div class="navbar-logo">
  <button class="btn navbar-toggler navbar-toggler-humburger-icon hover-bg-transparent collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggle-icon">
          <span class="toggle-line"></span>
        </span>
  </button>
  <a class="navbar-brand me-1 me-sm-3" href="/">
    <div class="d-flex align-items-center inc inc-logo">
      <img [src]="logoService.src('blue', 'mini', 'PNG')" alt="User Icon"/>
      <div class="logo-text d-none d-sm-block inc-text" [innerHtml]="logoService.formatText('Insterface numérique Comores')"></div>
    </div>
  </a>
</div>
