.tab-content-class {
  h4 {
    font-weight: 100;
    font-family: "system-ui";
  }
  .date-tasks-class {
    font-family: "system-ui";
    font-weight: 100;
    font-size: 18px;
    color: var(--inc-primary-500);
  }
}
